mixin story
  section.story
    h2._title О нас
    p._text Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требует анализа экономической целесообразности принимаемых решений. Граница обучения кадров позволяет выполнить важные задания по разработке новых принципов формирования материально-технической и кадровой базы.
    p._text Современные технологии достигли такого уровня, что экономическая повестка сегодняшнего дня играет определяющее значение для анализа существующих паттернов поведения.