mixin welcome
  section.welcome
    h2._title Главная
    p._text Учитывая ключевые сценарии поведения, понимание сути ресурсосберегающих технологий не дает нам иного выбора, кроме определения существующих финансовых и административных условий. Банальные, но неопровержимые выводы, а также сделанные на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.